<%= form_for @location do |f| %>

    <p>Country</p>
    <%= f.select :test_country, CountryStateSelect.countries_collection, selected: f.object.test_country %>

    <p>State / Province</p>
    <%= f.select :test_state, CountryStateSelect.collect_states(f.object.test_country), selected: f.object.test_state %>

    <p>City</p>
    <%= f.select :test_city, CountryStateSelect.collect_cities(f.object.test_state), selected: f.object.test_city %>

    <br /><br />

    <%= f.button :submit %>

    <%= link_to "Cancel", locations_path, class: "btn btn-danger" %>

<% end %>
