<%= form_for @location do |f| %>

    <p>Country</p>
    <%= f.select :test_country, CountryStateSelect.countries_collection %>

    <p>State / Province</p>

    <% states = CountryStateSelect.state_options(form: f, field_names: { :country => :test_country, :state => :test_state } ) %>
    <%= f.select :test_state, states[:collection]%>

    <p>City</p>
    <%= f.select :test_city, label: "City" %>

    <br /><br />

    <%= f.button :submit %>

    <%= link_to "Cancel", locations_path, class: "btn btn-danger" %>

<% end %>
